.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 6px;
}

.wrapper h5 {
  padding-left: 3rem;
}

.logo {
  /* padding-left: 3rem; */
  width: 100px;
}

.image {
  width: 500px;
  object-fit: cover;
  height: 160px;
}
